.ambientlight div {
	position: relative;
}

.no-android {
	position: relative;
}

.opacity.svg.canvas.touchevents {
	position: relative;
}

.canvasblending {
	position: static;
}

.supports-no-svg {
	position: relative;
}
