.ambientlight div {
	position: relative;
}

.no-android {
	position: relative;
}

.todataurlpng.canvas.touchevents {
	position: relative;
}

.canvasblending {
	position: static;
	background: url("./pic/external-link-hover.svg") top left/0 no-repeat;
}

.supports-no-ambientlight {
	position: relative;
}
