.ambientlight div {
	position: relative;
}

.no-android {
	position: relative;
}

.opacity.svg.canvas.touchevents.js.adownload.cssanimations.blob.battery.audio.flexbox.applicationcache.crypto {
	position: relative;
}

.canvasblending {
	position: static;
}

.supports-no-svg {
	position: relative;
}
